

* {
    padding: 0px;
    margin: 0px;
    
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/image/icon/background-header.jpg);
    background-attachment: fixed;
}

.col30 {
    width: 30%;
}

.col10 {
    width: 10%;
}

.col20 {
    width: 20%;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
}

h1 {
    text-transform: uppercase !important;
    padding: 5px !important;
}

h1 {
    color: #ffffff;
    background-color: #ff0000;
    padding: 10px;
    border-bottom: 3px solid #ffa500;
}

h2 {
    padding: 5px;
    border-bottom: 2px solid #ffa500;
    text-transform: uppercase;
}

a {
    transition-duration: 0.5s;
}
nav{
    width: 100%;
    background-color: #ffa500;
}
 /* login */
.container, h3{
    margin-top: 40px;
    color: #000;
   
}

.container-login, label{
    color: #222;
}
.container-password{
margin-top: 40px;
}


/* Form layout */
.form-container {
    width: 100%;
    padding: 32px;
    margin: 36px auto 0 auto;
   
}

.form__row {
    padding: 8px 0;
    display: flex;
}

.form__label {
    min-width: 90px;
}

.form__input {
    flex: 1;
    width: 100%;
    height: 2.507em;
    border: 1px solid #e9a301;
    border-radius: 5px;
}
.btn-submit{
    background-color: #fcb900;
    color: #fff;
    text-transform:uppercase ;
    cursor: pointer;
    width: 120px;
    text-align: center;
    padding: 5px 5px;
}
.singup-link a{
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.menu,.sub-menu{
    display: flex;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
}
.menu,.menu-list,.sub-menu {
        list-style-type: none;
    }
    .menu>li,
    .sub-menu {
        width: 12.5%;
    }
    
    a,
    .menu>li a {
        text-decoration: none;
        display: block;
    }
    .menu>li>a,
    .menu-list>li>a {
        color: #000000;
    }
    
    .menu>li>a {
        padding: 3px;
        text-align: center;
    }
    
    .menu-list>li>a {
        padding: 5px;
        text-align: left;
    }
    
    .menu>li>a:hover,
    .sub-menu>li>a:hover {
        background-color: #ffd280;
    }
    
    .menu-list>li>a:hover {
        background-color: #ffa500;
    }
     /* menu con */
    
    
    /* FOOTER */
    